<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BitnuaVideoPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>
  <connectionStrings/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="appLog.txt"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <BitnuaVideoPlayer.Properties.Settings>
      <setting name="rmtCtrl" serializeAs="Xml">
        <value>
          <WindowStateDTO xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Height>400</Height>
            <Width>400</Width>
            <Left>0</Left>
            <Top>0</Top>
          </WindowStateDTO>
        </value>
      </setting>
      <setting name="prWindow" serializeAs="Xml">
        <value>
          <WindowStateDTO xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Height>400</Height>
            <Width>400</Width>
            <Left>0</Left>
            <Top>0</Top>
          </WindowStateDTO>
        </value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainVmJson" serializeAs="String">
        <value/>
      </setting>
      <setting name="bannerWindow" serializeAs="Xml">
        <value>
          <WindowStateDTO xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Height>0</Height>
            <Width>0</Width>
            <Left>0</Left>
            <Top>0</Top>
          </WindowStateDTO>
        </value>
      </setting>
      <setting name="songInfoWindow" serializeAs="Xml">
        <value>
          <WindowStateDTO xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <Height>0</Height>
            <Width>0</Width>
            <Left>0</Left>
            <Top>0</Top>
          </WindowStateDTO>
        </value>
      </setting>
    </BitnuaVideoPlayer.Properties.Settings>
  </userSettings>
</configuration>
