<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net451" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net451" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net451" />
  <package id="CefSharp.Wpf" version="63.0.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.0-alpha3" targetFramework="net451" />
  <package id="Vlc.DotNet.Core" version="2.2.1" targetFramework="net451" />
  <package id="Vlc.DotNet.Core.Interops" version="2.2.1" targetFramework="net451" />
  <package id="Vlc.DotNet.Forms" version="2.2.1" targetFramework="net451" />
  <package id="Vlc.DotNet.Wpf" version="2.2.1" targetFramework="net451" />
</packages>