<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <BitnuaVideoPlayer.Properties.Settings>
            <setting name="rmtCtrl" serializeAs="Xml">
                <value>
                    <WindowStateDTO xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <Height>490</Height>
                        <Width>400</Width>
                        <Left>0</Left>
                        <Top>0</Top>
                    </WindowStateDTO>
                </value>
            </setting>
            <setting name="prWindow" serializeAs="Xml">
                <value>
                    <WindowStateDTO xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <Height>600</Height>
                        <Width>700</Width>
                        <Left>500</Left>
                        <Top>0</Top>
                    </WindowStateDTO>
                </value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainVmJson" serializeAs="String">
                <value>{
  "ClientName": "bitnua client 1",
  "WatchDir": "C:\\AMPS\\vmmplay",
  "VideoPath1": "c:\\AMPS\\vmm\\VideoClip\\VideoLibrary\\נוסף",
  "VideoPath2": "c:\\AMPS\\vmm\\VideoClip\\VideoLibrary\\קמפ",
  "VideoPathSinger": "c:\\AMPS\\vmm\\videoClip\\זמרים",
  "VideoPathEvent": "c:\\AMPS\\vmm\\videoClip\\אירוע",
  "VideoPathDance": "c:\\AMPS\\vmm\\videoClip\\ריקודים",
  "VideoPathDefault": "c:\\AMPS\\vmm\\videoClip\\Default",
  "FlayerDir": "c:\\AMPS\\vmm\\Pictures\\flayer",
  "PicPathPerformer": "c:\\AMPS\\vmm\\Pictures\\מבצע",
  "PicPathCreator": "c:\\AMPS\\vmm\\Pictures\\יוצר",
  "PicPathComposer": "c:\\AMPS\\vmm\\Pictures\\לחן",
  "PicPathWriter": "c:\\AMPS\\vmm\\Pictures\\משורר",
  "PicPathDefault": "c:\\AMPS\\vmm\\Pictures\\Default",
  "ClipTypes": [
    {
      "Type": 0,
      "IsChecked": true,
      "Text": "Song's Clip"
    },
    {
      "Type": 2,
      "IsChecked": true,
      "Text": "Dance"
    },
    {
      "Type": 1,
      "IsChecked": true,
      "Text": "Event"
    }
  ],
  "SongYoutubeVideos": [
    {
      "Type": 4,
      "IsChecked": true,
      "Text": "Clip"
    },
    {
      "Type": 3,
      "IsChecked": false,
      "Text": "Dance"
    }
  ],
  "Banner": {
    "Speed": 10,
    "Direction": 0,
    "PicsPath": "C:\\Amps\\banners",
    "Text": "Text Here ...",
    "BackColor": "30, 198, 234",
    "ForeColor": "Black",
    "Font": "Times New Roman, 48pt"
  },
  "Lyrics": {
    "BackColor": "159, 237, 251",
    "ForeColor": "Black",
    "Font": "Times New Roman, 15px"
  },
  "SongTitleFontSize": 0.0,
  "Song2ndFontSize": 0.0,
  "SelectedPicMode": "Pics",
  "SelectedVideoMode": "Clip",
  "Pic_ShowCreator": true,
  "Pic_ShowPerformer": true,
  "Pic_ShowComposer": true,
  "Pic_ShowWriter": true,
  "ShowSongInfo": true,
  "TopPanelHeight": 0.0,
  "DefaultLayout_LeftWidth": 200.0,
  "DefaultLayout_SongInfoHeight": 91.0,
  "SelectedLayout": "Default",
  "PicStretch": "Fill",
  "LeftPicTitle": {
    "Text": "Sample Composer Name",
    "BackColor": "154, 245, 250",
    "ForeColor": "Black",
    "Font": "Times New Roman, 15px"
  },
  "PresentationVM": {
    "PresentationItems": [
      {
        "Kind": "PictureList",
        "Stretch": null,
        "X": 0.0,
        "Y": 0.0,
        "Width": 290.0,
        "Height": 360.0,
        "Angle": 0.0,
        "Text": null,
        "Path": "C:\\AMPS\\vmm\\Pictures\\כללי"
      },
      {
        "Kind": "VideoList",
        "Path": "C:\\AMPS\\vmm\\VideoClip\\VideoLibrary\\קמפ",
        "X": 290.0,
        "Y": 230.0,
        "Width": 340.0,
        "Height": 130.0,
        "Angle": 0.0,
        "Text": null
      }
    ]
  },
  "LeftPicDelay": 0,
  "DbUpdateDelay": 5000
}</value>
            </setting>
        </BitnuaVideoPlayer.Properties.Settings>
    </userSettings>
</configuration>